@import '../variables';

.sidebar{
  background: $main-blue;

  height: 100vh;
  width: 17.063rem;

  position: sticky;
  top: 0;

border-right: white solid 1px;
  .containerLogo{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 1.875rem;
      margin: 0;
      padding: 0;
      width: 7.875rem;
    padding: 1rem;

    }
  }
}